*              { font-size: 15px;
                 font-family: Arial, "Arial Narrow", sans-serif }
body           { display: none }
a              { text-decoration: none }
a:hover        { text-decoration: none }
h1.h1u         { font-size: 150% }
hr             { color: lightgray;
                 border-style: solid }
p.ad           { color: lightgray }
p.ad:hover     { color: gray;
                 text-decoration: underline;
                 cursor: default }
p.r            { width: 130px;
                 padding: 2px;
                 background-color: green; color: white;
                 border-radius: 5px }
p.f            { width: 130px;
                 padding: 2px;
                 background-color: red; color: white;
                 border-radius: 5px }
p.aw           { text-decoration: none }
p.continue     { text-decoration: underline }

/* Prettyfied with ProCSSor */