             * { font-size: 15px;
                 font-family: Arial, "Arial Narrow", sans-serif;
                 text-align: left; }
         #form { padding: 10px;
                 border-radius: 5px;
                 -webkit-box-shadow: 0px 0px 20px 0px #00A1D9;
                 box-shadow: 0px 0px 20px 0px #00A1D9;
                 -webkit-border-radius: 5px;
                 border: 1px solid #003056;
                 position: absolute;
                 width: 230px;
                 height: 120px;
                 z-index: 15;
                 top: 50%;
                 left: 50%;
                 margin: -60px 0 0 -115px; }
   #form input { margin-top: 10px }